@font-face {
  font-family: "iconfont"; /* Project id 3020343 */
  src: url('iconfont.woff2?t=1639559098035') format('woff2'),
       url('iconfont.woff?t=1639559098035') format('woff'),
       url('iconfont.ttf?t=1639559098035') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.boe-icon-left:before {
  content: "\e6a7";
}

.boe-icon-right:before {
  content: "\e6b6";
}

